@using BWHazel.Aka.Model;

@model ShortUrl

@{
    this.ViewData["Title"] = "Edit Link";
}

<h1>Edit Link</h1>

<form asp-controller="Links" asp-action="Edit" method="post">
    <div>
        <input asp-for="Id" placeholder="Link ID" disabled="disabled" />
        <span asp-validation-for="Id"></span>
    </div>
    <div>
        <input asp-for="Title" placeholder="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <input asp-for="Url" placeholder="URL" />
        <span asp-validation-for="Url"></span>
    </div>
    <div>
        <button type="submit">Edit</button>
    </div>
</form>