@using System.Collections.Generic;
@using BWHazel.Aka.Model;

@model IEnumerable<ShortUrl>

@{
    ViewData["Title"] = "Links";
}

<h1>Links</h1>

<a asp-action="Create">Create Link</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Link</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShortUrl link in this.Model)
        {
            <tr>
                <td><code>@link.Id</code></td>
                <td><a href="@link.Url">@link.Title</a></td>
                <td>
                    <a asp-action="Edit" asp-route-linkId="@link.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>