@using BWHazel.Aka.Model;

@model ShortUrl

@{
    this.ViewData["Title"] = "Redirecting...";
}

<div style="text-align: center">
    <h1>Redirecting...</h1>
    <p>You are being redirected to:</p>

    <h2>@this.Model.Title</h2>
    <p><a href="@this.Model.Url">@this.Model.Url</a></p>
</div>

@section Scripts
{
    <script type="text/javascript">
        setTimeout("location.href = '@(this.Model.Url)';", 3000);
    </script>
}