@using BWHazel.Aka.Web.Services;

@inject IdentityService identityService;

@if (this.User.Identity.IsAuthenticated)
{
    <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a>
    <li><strong>@this.identityService.GetUserName(this.User)</strong></li>
}
else
{
    <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign In</a>
    <li><strong>Not Signed In</strong></li>
}