@using BWHazel.Aka.Web.Services;

@inject IdentityService identityService

@if (this.User.Identity.IsAuthenticated)
{
    <li><a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a></li>
    <li><strong>@this.identityService.GetUserName(this.User)</strong></li>
}
else
{
    <li><a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign In</a></li>
    <li><strong>Not Signed In</strong></li>
}