@using Microsoft.Extensions.Configuration;

@inject IConfiguration configuration

<nav role="navigation">
    <div class="nav-wrapper container">
        <a class="brand-logo" asp-controller="Home" asp-action="Index">@this.configuration["Site:Name"]</a>
        <ul class="right hide-on-med-and-down">
            <li><a asp-controller="Links" asp-action="Index">Links</a></li>
            <partial name="_LoginPartial" />
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a asp-controller="Links" asp-action="Index">Links</a></li>
            <partial name="_LoginPartial" />
        </ul>
        <a class="sidenav-trigger" data-target="nav-mobile" href="#">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>